<p style="color: green"><%= notice %></p>

<h1>All Forms</h1>
<div id="forms">
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Title</th>
      <th>Fields</th>
    </tr>
  </thead>
  <tbody>
    <% @forms.each do |form| %>
      <tr>
        <td><%= form.title %></td>
        <td>
          <ul>
            <% form.data.each do |key, value| %>
              <li><a href="<%= "" %>"><%= key %></a></li>
            <% end %>
          </ul>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to "Create New form", new_form_path %>
