<p style="color: green"><%= notice %></p>

<h1><%= @form.title %></h1>
<div id="forms">
<table style="border: 1px solid black;">
  <thead>
    <tr>
      <th>Field</th>
      <th>Response</th>
    </tr>
  </thead>
  <tbody>
     <% @form.data.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div>
  <%= link_to "Back to forms", forms_path %>
</div>
